.footer{
    box-shadow: #00000033 0px -5px 40px 0px ;
    background-color: #F7F7F7;
    position: relative;
    padding: 1em;
    &__title{
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 1.625rem;
        line-height: 1.875rem;
        word-spacing: 0.125rem;
        color: #08A6E4;
    }
    &__subtitle{
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 0.6875rem;
        line-height: 0.875rem;
        word-spacing: 0.125rem;
        color: #A5A5A5;
    }
    &__icons{
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
            &__twitter{
                margin-right: 1em;
            }
    }
    @media only screen and (min-width: 1000px) {
        padding-left: 7%; 
        &__icons{
            right: 7%;
        }
    }
}