.percentageScroller{
    position: fixed;
    height: .3em; 
    background-color: #08A6E4; 
    z-index: 2;
}
.buttonReturn{
    display: none;
    margin: 0 auto;
    margin-bottom: 1em;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 1.0625rem;
    letter-spacing: 0.125rem;
    color: #FFFFFF;
    padding: .5em 1em;
    border: none;
    border-radius: 2.1875rem;
    background-color: #08A6E4;
    box-shadow: #07ACE64A 5px 10px 14px 0px;
    cursor: pointer;
    position: fixed;
    bottom: 12em;
    right: 0;
    transform: translateX(-50%);
    z-index: 3;
}
.popup{
    display: none;
    background-color: #FFFFFF;
    width: 70%;
    border: .1em solid rgba(#08A6E4, 0.342);
    border-radius: 1rem;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50px #07abe6;
    text-align: center;
    &__container{
        position: relative;
        padding: 1em 1em;

        &__close{
            position: absolute;
            font-size: 1rem;
            top: 1.5em;
            right: 1em;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
        &__title{
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 1.5rem;
            margin-top: 1em;
            margin-bottom: .3em; 
        }
        &__form{
            font-family: "Open Sans", sans-serif;
            font-weight: 500;
            font-size: .8rem;
            border: none;
            border-bottom: .1em solid #08A6E4;
            width: 90%;
            margin-top: 1.5em;
            margin-bottom: 2em;
            text-align: center;
        }
        &__form:focus {
            outline: none;
        }
        &__description{
            font-family: "Open Sans", sans-serif;
            font-weight: 500;
            font-size: .775rem;
        }
        &__subscribe-button{
            display: block;
            margin: 0 auto;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 0.8125rem;
            line-height: 1.0625rem;
            letter-spacing: 0.125rem;
            color: #FFFFFF;
            padding: .5em 1em;
            border: none;
            border-radius: 2.1875rem;
            background-color: #08A6E4;
            text-align: center;
            cursor: pointer;
        }
    }
}
.hidden {
    display: none;
}
.flex{
    display: none;
}
.none {
    display: none;
}
.red{
    border-color: red;
}
.form-border-color{
    border-color: #95989A;
}
.fa-circle{
    color: #95989A;
    margin-left: .2em;
    margin-right: .2em;
    cursor: pointer;
}
.active{
    color: white;
}
.fa-chevron-left, .fa-chevron-right{
    color: #95989A;
    background-color: rgba(0, 0, 0, 0.521);
    border: .1em solid #95989A;
    padding: .5em .25em;
    border-radius: 50%;
    cursor: pointer;
}
@media only screen and (min-width: 1000px) {
    .popup{
        max-width: 60em;
        &__container{
            padding: 3em 3em;
            &__close{
                font-size: 2rem;
                top: .5em;
                right: .5em;
            }
            &__title{
                font-size: 2rem;
                margin-top: 1em;
                margin-bottom: 1em;
            }
            &__form{
                font-size: 1rem;
            }
            &__description{
                margin-top: 1em;
                margin-bottom: 2em;
                font-size: 1rem;
            }
            &__subscribe-button{
                font-size: 1.225rem;
                padding: 1em 4em;
            }
        }
    }
    .flex{
        display: flex;
    }
    .block{
        display: none;
    }
}